.container {
  display: flex;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;

  .container--left {
    width: 30%;
  }

  .container--right {
    width: 70%;
  }
}

.editor-activator {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;

  &.editor-activator--active {
    background-color: #81d3ff;
  }
}

.ml-10 {
  margin-left: 10px;
}
