<h1>CKEditor Demo</h1>
<ul>
  <li>
    <a routerLink="loop-demo">Loop Demo</a>
  </li>
  <li>
    <ul>
      <li>
        <a routerLink="conditional-demo">Conditional Demo</a>
      </li>
      <li>
        <a routerLink="conditional-demo/conditional-loop">
          Conditional Loop Demo
        </a>
      </li>
      <li>
        <a routerLink="conditional-demo/dynamic-editor-demo">
          Dynamic Editor Demo
        </a>
      </li>
      <li>
        <a routerLink="conditional-demo/dynamic-loop-demo">
          Dynamic Loop Editor Demo
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a routerLink="/">Home</a>
  </li>
</ul>
<hr />
<router-outlet></router-outlet>
